.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
body {
  margin: 0;
  padding: 0;
    height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 100px;
  max-width: 600px;
  height: 310px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}

#login-box2{
  margin-top: 100px;
  max-width: 600px;
  height: 380px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}

#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -100px;
}
